파이썬 파일의 확장자
- .py - 파일 안에 있는 내용이 한번에 실행됨
- .ipynb(interactive python notebook) - 코드셀 단위로 실행됨, 텍스트셀 지원. 노트북 파일이라고 부름.

In [ ]:
 1 + 2 + 3 + 4 \
 + 5 + 6 + 7

28

In [ ]:
# # 이름을 작성하기 위한 규칙 - 네이밍 컨벤션(convention)
# path = 'my documents'

# my-documents  # kebab-case   URL
# my_documents # snake_case   Python
# myDocumentsFolder # camelCase  Java

# MyClass # PascalCase   Class를 구분하기 위해서 첫글자를 대문자로 작성

In [ ]:
!python --version
# ! (셸 커맨드)
# 셸(Shell)에서 실행되며, 따라서 리눅스 기반의 명령어들을 사용할 수 있습니다.
# 셸 커맨드를 사용하여 파일 시스템 탐색, 외부 패키지 설치 등의 작업을 할 수 있습니다.

Python 3.10.12

In [ ]:
!ls

sample_data

In [ ]:
python --version

NameError: name 'python' is not defined

In [ ]:
%%time
print('hello')
# %, %% : 매직커맨드. 파이썬 코드는 아니나 코랩 환경 내에서 특정 기능을 실행하도록 설계된 명령어입니다.
## '%' 또는 '%%' 기호를 사용하여 실행됩니다. '%'는 한 줄에 대해, '%%'는 셀 전체에 대해 적용됩니다.

hello
CPU times: user 236 µs, sys: 0 ns, total: 236 µs
Wall time: 208 µs

# 0. 연습해보기

In [ ]:
1+1

2

In [ ]:
# 저수준(기계어와 더 가까운 방식으로 작성되는 언어) / 고수준언어 ()

In [ ]:
# 주어.동사(목적어)
str.find('사과나무', '부') # 0 / 1 ~~~  순서 0 부터 시작되기 때문에

-1

# IDE
- 여러분이 보고계신 이 화면이 주피터라는 개발환경입니다.
- 인공지능 관련 분야에서 많이 사용합니다.
- 파일을 온라인에서 서로 주고받을 수 있습니다. 코랩을 이용하면 GPU는 구글거 나눠쓸 수 있습니다.
- GPU는 돈을 안 내면 조금 나눠주고, 돈을 내면 많이 나눠줍니다.

- 셀은 코드셀과 텍스트셀이 있습니다.
- 텍스트셀도 마찬가지입니다.

```
[실행 관련 단축키]

Ctrl + Enter = 해당 셀을 실행하고 커서를 해당 셀에 두는 경우 (결과 값만 보고자 할 때)

Shift + Enter = 해당 셀을 실행하고 커서를 다음 셀로 넘기는 경우 (여러가지 값을 빠르게 출력할 때)

Alt + Enter = 해당 셀을 실행하고 셀을 삽입한 후 커서를 삽입한 셀로 넘기는 경우 (다음 작업 공간이 없을 때)

```


```
[셀 삽입/삭제 관련 단축키]

Ctrl + M A = 코드 셀 위에 삽입
Ctrl + M B = 코드 셀 아래 삽입
Ctrl + M D = 셀 지우기
Ctrl + M Y = 코드 셀로 변경
Ctrl + M M = 마크다운 셀로 변경
Ctrl + M Z = 실행 취소
```

* MAC 사용시 Ctrl 대신 Command
* Ctrl + M H = 단축키 모음

print(1+1)

In [ ]:
1 + 1
1 + 3 # 한줄 한줄 코드를 읽고 실행합니다. (인터프리터 언어)
# 1+1은 실행이 안 된게 아닙니다. 다만 실행이 되고 나서 인터프리터 언어의 특성상 한줄씩 결과를 리턴하기 때문에 (repl) 다음 출력결과에 의해서 앞의 결과가 덮어써진 겁니다.

4

In [ ]:
print(1 + 1)
print(1 + 3)

2
4

## 파이썬 인터프리터의 특징
- 파이썬을 이해한다?
- 파이썬 인터프리터가 어떻게 실행된다
- 명령어를 실행하고, 어떻게 값이 돌아오는지를 한줄한줄 확인하기 위해 당분간은 코랩을 사용할 예정입니다.

- 파이썬 명령어는 모두 인터프리터에 의해서 실행되는 것을 가정하고 동작합니다.
- py 파일에 전부 기록하면 한번에 실행 되고요
- ipynb 파일에 기록하면 셀(블록) 단위로 나눠서 실행할 합니다.

- 주피터는 일반적인 개발 환경과 인터프리터의 중간적인 환경을 제공하는 IDE입니다.

# 메모리(Memory)
- RAM (Random Access Memory)
- 주기억장치 라고 부릅니다.
- 보조기억장치에 자료들을 넣어놓고 주기억장치에 있는 프로그램으로 자료들을 불러와서 crud합니다.
  - 자료가 보조기억장치에 있을때 '파일'이라고 부릅니다.


- 주기억장치
  - 프로그램이 실행중인 동안은 반드시 메모리에 있어야 합니다.
  - 다루려는 자료도 메모리에 와있어야 합니다.
  - 실행중인 프로그램에서 자료를 저장할 수 있는 공간
  - 메모리 어딘가에 보조기억장치에서 불러온 파일의 내용을 저장해두고 두고두고 꺼내쓰는 개념입니다.


  # 변수
  - 자료를 메모리에 저장해두고 불러오기 위해서 이름을 지어주는 것을 '변수'라고 부릅니다.
  - 주소값이 할당이 됩니다
  - 변수명을 입혀줘서 다시 불러올 수 있게 만들면 되는 거죠.
  - 파이썬은 변수를 주소 기준으로 식별을 하고요.
  - 자료는 비트 형태로 저장이 되고 1바이트(8비트)마다 번호를 부여를 합니다.
  - 메모리 크기가 크기 때문에 주소값도 당연히 길겠죠
  - 10진수보다 16진수를 컴퓨터 프로그래밍에서 많이 사용하는 이유가 이것때문입니다.

- 변수 : 긴 숫자로 되어있는 메모리 속 주소에 이름을 달아주는 것

In [ ]:
#This's a dog 이라는 문장을 docs라는 변수에 넣고 출력해주세요.
docs = 'This is a dog'
print(docs)

This is a dog

In [ ]:
docs = "This's a dog" ; print(docs)

This's a dog

In [ ]:
docs = 'This`s a dog'
print(docs)

In [ ]:
docs = "This's a dog"
print(docs)

This's a dog

In [ ]:
docs = 'This\'s a dog' # \ escaping 문자를 사용해서 감싸주는 경우도 있습니다.
print(docs)

This's a dog

In [ ]:
docs = """This's a dog""" # 멀티라인 """ """ 또는 ''' '''로 감싸주면 원본 스트링을 그대로 저장합니다.
print(docs)

This's a dog

In [ ]:
id(docs)

134658133645232

In [ ]:
id(docs) # 변수 매번 같은 값을 꺼내 쓰거나, 숫자 혹은 배열 등 특정 값을 evaluation에 따라 변경해야 할 때

134658133645232

swap
  - 변수의 값을 교환하기 위해서 많이 씁니다.

In [ ]:
a = 10
b = 20
# 일 때
# b와 a에 있는 자료를 변경해보세요

In [ ]:
a = b # a = 20
b = a # b = 20
a, b  # 20, 20 인터프리터 언어

(20, 20)

In [ ]:
a, b = b, a # swap

In [ ]:
a, b, *c = 10, 20, 30, 40, 50, 60

In [ ]:
a, b

(10, 20)

In [ ]:
c

[30, 40, 50, 60]

# 변수명명법
- 이름은 결국 개발자가 지어주는 거죠
- 파이썬은 한글 변수명도 만들 수 있습니다 (UTF-8)
- 영문 대/소문자, 숫자, 한글 다 쓸 수 있어요
- 특수문자도 쓸 수는 있어요. 쓰지 않는 편입니다. _ 말고는 거의 쓰지 않습니다.
- 숫자를 변수명의 앞에는 쓸 수 없습니다.

- 파이썬이 권장하는 변수 이름을 짓는 방법이 있겠죠
  - 시작은 소문자
  - 인터프리터가 이미 사용하고 있는 단어는 사용하지 않는 것이 좋습니다. (True, int 이런단어도 변수명으로 쓸 수 있어요)
  - 다만 앞으로 저 명령어는 사용하지 못합니다.
  - 해당 언어가 이미 사용하고 있는 단어 (예약어, keyword)
  - IDE 들은 대부분 예약어나 피해야할 변수명에 색깔을 칠해줍니다.

In [ ]:
str_ = '사과나무'

In [ ]:
$apple ='hello'

In [ ]:
str

'사과나무'

In [ ]:
str.find('사과나무', '무')

TypeError: slice indices must be integers or None or have an __index__ method

In [ ]:
del str

In [ ]:
str.find('사과나무', '무') # 원래의 예약어로 사용할 수 있게 됩니다.

3

# 자료(Data)의 형태(Type)
- 자료
  - 프로그래밍(코딩)을 하는 대상을 `자료`라고 합니다.
    - 파일(엑셀, 그림, 텍스트, ... ), 문자, 숫자,...
    - 자료의 형태는 문자 혹은 숫자입니다
      - 문자도 결국 바이너리코드가 되면 숫자이니 정확히 말하자면 `숫자` 하나..
      - 숫자를 RGB로 해석하면, 색정보, 문자 인코딩을 하면 문자, ...
      - 결국, 컴퓨터에 입출력되는 모든 것들은 숫자

- 파이썬의 기본 자료형은 자료를 구성하는 가장 기본적인 `최소 단위`입니다.

- 파이썬에서 기본으로 제공되는 자료형들은 크게 스칼라(변수 하나에 값 하나)와 컨테이너(변수 하나에 여러개의 변수)라는 범주로 나눌 수 있습니다.

- 스칼라(Scalar) 자료형: 한 변수에 숫자나 참/거짓 등 하나의 값을 담는 자료형들
    - 정수(int) : 소수점이 없는 양수/음수 및 0을 포함하는 숫자들을 표현하는 형식
    - 실수 또는 부동소수점(float) : 소수점이 있는 숫자를 표현하는 형식
    - 불리언(bool) : 어떤 논리 혹은 조건의 참/거짓 판단을 표현하는 형식. ‘True’ 또는 ‘False’라는 두 값 중 하나를 취할 수 있습니다.
    - 문자열(str) : 낱글자, 단어, 띄어쓰기, 기호 등으로 구성된 문자들의 배열을 표현하는 형식
    - 값 없음(None) : 값이 존재하지 않는 변수를 생성하려면 ‘값 없음’을 의미하는 어떤 데이터를 변수에 할당해 줘야 하는데, 파이썬에서는 이를 ‘None’으로 정의합니다.

In [ ]:
True + False

1

# 숫자
- 정수, 실수, BOOLEAN 3가지 타입의 자료
- INT, FLOAT, DOUBLE, LONG 등등... 다른 언어(컴파일 언어)는 용량을 최대한 아끼기 위해서 정수, 실수로 나누고 정수/실수 안에서도 더 크거나 긴 숫자는 다른 자료형으로 관리를 합니다.
- 파이썬은 3개만 있다고 생각하세요
- 정수와 실수만 있다
- BOOL (TRUE/FALSE) 1 0


## 가. 정수(INTEGER)
- int 라고 표현
- 음수, 양수, 0 3가지가 있습니다
- 4바이트를 할당해요 - 웬만한 숫자는 다 들어감
- 속도는 좀 느려집니다.

In [ ]:
type(-9835321523523542352352352352353252352352353242342352356234324237482375728395623874823749326487523678562387589237489236432658723847238946328758923748923643275893274981264832689562381642371648473265873264873274891236578123467823750) # 파이썬의 자료형 확인 명령어

int

In [ ]:
type(0)

int

## 나. 실수 (float)
- 파이썬에서는 float 하나만 제공
  - 부동소수점 방식
  - 움직이는 소수점 방식 이라는 뜻입니다. (부유하다)
  - 소수점 위치가 고정되어 있지 않고 바뀐다는 의미입니다.
  - 인터프리터의 오차라고 할까요


컴퓨터에서 실수를 표현하는 두가지 방식.

<img src="">

### 고정 소수점(Fixed Point)
소수점이 찍힐 위치를 미리 정해놓고 소수를 표현하는 방식 (정수 + 소수)

- 장점 : 실수를 정수부와 소수부로 표현하여 단순하다.
- 단점 : 표현의 범위가 너무 적어서 활용하기 힘들다. (정수부는 15bit, 소수부는 16bit)


- 고정 소수점 방식으로 3.141592를 표현하려면 부호(-)와 정수부(3), 소수부(0.141592) 3가지 요소 필요하다.


## 부동 소수점(Floating Point)
지수의 값에 따라 소수점이 움직이는 방식을 활용한 실수 표현 방법. 실수를 가수부 + 지수부로 표현한다.
즉, 소수점의 위치가 고정되어 있지 않다.

    - 가수 : 실수의 실제값 표현
    - 지수 : 크기를 표현함. 가수의 어디쯤에 소수점이 있는지 나타냄



- 장점 : 표현할 수 있는 수의 범위가 넓어진다. (현재 대부분 시스템에서 활용 중)
- 단점 : 오차가 발생할 수 있다. (부동소수점으로 표현할 수 있는 방법이 매우 다양함)

In [ ]:
0.2 + 0.2

0.4

In [ ]:
0.1 + 0.2

0.30000000000000004

decimal 모듈

- 정확한 십진수 기반의 연산이 필요한 경우를 위해서 파이썬에서는 decimal 내장 모듈을 제공하고 있습니다. decimal 내장 모듈의 Decimal 클래스를 사용해서 위에서 했던 연산을 해보겠습니다.

In [ ]:
# 고정소수점 방식으로 실수를 사용하려면
import decimal

decimal.Decimal('.1') + decimal.Decimal('.2')

Decimal('0.3')

In [ ]:
type(1.2)

float

In [ ]:
type(1.) # 지수부 생략 가능

float

In [ ]:
type(.9) # 정수부 생략 가능

float

In [ ]:
type(.) # . 은 에러가 납니다.

SyntaxError: invalid syntax (<ipython-input-89-38da9145431a>, line 1)

In [ ]:
0.001e3 # 0.001 * 10^3

1.0

In [ ]:
0.01e-3 # 0.001 * 10^-3

1e-05

In [ ]:
print(0.01e-3)

1e-05

In [ ]:
print("%f"%0.01e-3)

0.000010

## 다. 불리언 (bool)
- 참, 거짓을 표현하는 값 (True, False)
- True = 1, False = 0

In [ ]:
type(True)

bool

In [ ]:
True + True

2

# 문자열 (string)
- 문자와 문자열은 다른 개념입니다.
- 파이썬에서는 문자와 문자열을 따로 구분하지 않고 string으로 취급합니다.
- 파이썬에서 문자열을 표현하는 방법은 3가지가 있습니다
- '' , " ", ''' '''
  -멀티라인 제외하고는 작은 따옴표와 큰 따옴표의 차이는 없습니다.
  - 다만 규칙이라면 처음에 열어준 따옴표로 닫아줘야 합니다.

In [ ]:
'hello' ; "hello" ; """hello
python"""

'hello\npython'

In [ ]:
'"hello"'

'"hello"'

- 파이썬에서는 한줄에 하나의 명령어 또는 하나의 문자열을 입력하는 것이 원칙입니다.

In [ ]:
# 명령어 여러개를 한줄에 쓸 때는 세미콜론을 사용해주세요
'hello' ; "hello" ; """hello
python"""

'hello\npython'

In [ ]:
' ' == '' # 공백도 하나의 문자열의 일부입니다.

False

In [ ]:
'24' == '24 ' # 잘한거 같은데 에러가 나면 앞뒤에 공백이 숨어있는건 아닌지 꼭 확인해주셔야 한다.

False

In [ ]:
print("""hello
python     """)

hello
python

In [ ]:
'a' == 'A' # 아스키코드로 변환해서 구분하기 때문에

False

In [ ]:
'a' > 'A' # 소문자 a의 아스키코드 값이 대문자 A의 아스키코드 값보다 크기 때문에

True

# 문자열 이스케이프
  - 문자를 사용할 때 충돌이 발생하는 경우들이 있습니다.
  - 파이썬 인터프리터에서 이미 역할이 정해진 문자들이죠.
  - This's a dog    - 어퍼스트로피는 파이썬에서 이미 약속된 규칙으로 문자열의 앞뒤를 감싸주는 작은따옴표와 기호가 같습니다. -> 파이썬 인터프리터에서의 역할과 우리가 입력하는 자료로서의 역할이 충돌을 합니다.

- 충돌을 막기 위해서 역슬래시(\)뒤에 그 문자, 혹은 그 문자를 의미하는 약어를 사용하는 방법으로 충돌을 피하는 것 : 이스케이핑 이라고 부릅니다.

In [ ]:
print('안녕하세요\t김\b연지입니다') # \t : tab

안녕하세요	김연지\s입니다

- 경로를 표현할 때도 많이 씁니다.
- 특히 윈도우에서 경로를 표현할 때는 폴더와 폴더 사이의 구분자로 역슬래시를 많이 씁니다.

'C:\ITStudy\01_pythonBasic'

- 문자열 내에서 표현하기 힘든 문자들
- 엔터 백스페이스 그리고 탭 이런것들
- 표현하기 힘든 문자들을 입력하는 방법으로도 역슬래시는 많이 쓰입니다.

In [ ]:
print('C:\ITStudy\\01_python')

C:\ITStudy\01_python

In [ ]:
"""hello
python     """

'hello\npython     '

In [ ]:
b"""hello
python     """

b'hello\npython     '

\n : 뉴라인 - 문자열의 끝을 의미합니다. - 인터프리터가 아 여기서 문자열이 끝이구나 라고 인식을 하게 됩니다.

# 사칙연산 (+, -, /, *)
  - 추가적인 사칙연산 : 지수연산(**) 몫연산 (//) 나머지 연산 (%)로 표기합니다.
- 부호 (-)

In [ ]:
2 * 3

6

In [ ]:
2 ** 3 # 지수연산 (제곱) **

8

In [ ]:
2 / 3

0.6666666666666666

In [ ]:
2 // 3 # 몫연산

0

In [ ]:
2 % 3

2

In [ ]:
4 / 2 # 파이썬에서 나눗셈은 float으로 리턴됩니다.

2.0

In [ ]:
int(4 / 2)

2

In [ ]:
'김연지' + '김연지'

'김연지김연지'

In [ ]:
'김연지' * 3

'김연지김연지김연지'

In [ ]:
'김연지' *2 # 문자열끼리 덧셈, 문자열 * 숫자 만큼 곱셈은 가능

'김연지김연지'

In [ ]:
print('김연지'+'김연지')

김연지김연지

In [ ]:
print('김연지', '김연지')

김연지 김연지

### 산술 연산 후 할당 연산자 사용

In [ ]:
a, b = 30, 10
a, b

(30, 10)

* 변수 한 개에서 값의 변화를 계속 유지하려면 계산 결과를 다시 변수에 저장해야 함

In [ ]:
a = a + b
a

40

* 파이썬에서는 변수를 두 번 입력하지 않도록 산술 연산 후 할당 연산자를 제공

In [ ]:
b

10

In [ ]:
a += b # a = a+b 와 같은 뜻입니다.
a

50

* 덧셈(+=) 외에도 뺄셈(-=), 곱셈(\*=), 나눗셈(/=, //=), 나머지(%=)도 같은 방식
* 똑같이 연산(-, *, /, //) 후 할당(=) 한다는 뜻입니다.

In [ ]:
a, b = 30, 10
a = a / b
a

3.0

In [ ]:
a, b = 30, 10
a /= b # a = a / b
a

In [ ]:
c /= b # c = c/b

NameError: name 'c' is not defined

# 비교 연산
  - `=` 같다라는 뜻 아닙니다 -> 프로그래밍 언어에서는 할당 연산자로 사용을 합니다.
  - `==` 같다라는 뜻 -> 항등 연산자, 자료형 타입과 값을 함께 비교
  - a = 3 a라는 변수명에 3을 넣겠다
  - ==, !=, > < >= <=

In [ ]:
1 == '1'

False

In [ ]:
1 == int('1')

True

In [ ]:
# === 완전항등연산자 : 값/자료형/같은메모리주소에서 나오는지

우선순위
```
 ()  >  **  > -(negative)  >  *, /, //, %  > +, -
```

 - 따로 우선순위를 외우시는 건 추천하지 않습니다.
 - ( ) 괄호로 우선 연산해야 하는 것들을 꼭 묶어주세요.
 - 남들이랑 같이 개발할 거잖아요 - 가독성 면에서도 큰 도움이 됩니다.

In [ ]:
1+4/2

3.0

In [ ]:
(1+4)/2

2.5

In [ ]:
1 != '3'

True

In [ ]:
3 > 2

True

In [ ]:
3 < 2

False

In [ ]:
3 >= 2

True

In [ ]:
3 <= 2

False

In [ ]:
x = 2

In [ ]:
3 >= x and x >=1

True

In [ ]:
1 <= x <= 3 # 파이썬에서는 가능

True

# 논리 연산
- and, or, not
- 명제들간의 연산의 결과를 논리적으로 표현하는 방법입니다.

  - 명제? 참/거짓을 구분할 수 있는 모든 문장
  - True / False를 실행결과로 반환할 수 있는 모든 명령어를 의미합니다.
  - 논리 연산자를 불리언 연산자라고도 부릅니다.

  
| A | B |AND | OR | not A | not B |
|:---:|:---:|:---:|:---:|:---:|:---:|
|T|T|T|T|F|F|
|T|F|F|T|F|T|
|F|T|F|T|T|F|
|F|F|F|F|T|T|


- 세상에 완전히 새로운 생각은 없다.
- 기존에 했던 생각에 and, or, not 세개를 붙인 생각만이 있을 뿐이다.


- 우선순위
not > and > or

In [ ]:
(1 == 1) and (1 == 2)

False

In [ ]:
(1 == 1) or (1 == 2)
# circuit evalution
# 하나라도 참이 있으면 참입니다.

True

In [ ]:
(1 == 2) or (1 == 1)

True

In [ ]:
1 == 1 and 1 == 2

False

In [ ]:
not (1 == 1) or (1 == 2)

False

 not > and > or

In [ ]:
2*3 == 6

True

In [ ]:
(9%2 == 1) and (2**3 == 8) or not(2*3 == 6)
# True and True or not True
#                    False
# True and True

# 왼쪽 -> 오른쪽
# ( ) 안에 있는 것
# - 사칙연산/ + -
# 비교연산
# 논리 연상

True

In [ ]:
9%2 == 1 and 2**3 == 8 or not 2*3 == 6

True

True

In [ ]:
not(1 != 1) and (4/2 == 2) or (True == False)
# not False and True or False

True

In [ ]:
'무' not in '사과나무'

False

## 점심 이후 확인

In [ ]:
1 == '1'

False

In [ ]:
(.1 == 0.1) and (1. == 1)

True

In [ ]:
# 동일성(identity)과 동등성(equality)
# is (동일성 비교, 타 언어의 ===과 같은 역할) / == (동등성 비교, 값/자료형 확인)

In [ ]:
True == 1 # 숫자 자료형(int/float/bool)끼리는 비교연산자가 호환됩니다

True

In [ ]:
1. <= 1 # 숫자 자료형끼리는 비교연산자가 호환됩니다.

True

In [ ]:
'1.' == 1 # 문자 자료형과는 호환 안 됩니다.

False

In [ ]:
a = 1 # int
b = 1.0 # float
c = '1' # str
# === 같은 메모리주소에서 나오는지
a is b # === 과 같은 역할(같은 주소에서 나오는지 확인)

False

In [ ]:
id(a), id(b)

(134659185295600, 134657825375376)

In [ ]:
a == b  # 서로 호환이 되는 숫자 자료형이니까

True

In [ ]:
a == c

False

# 타입변환

- 파이썬은 우리가 자료형을 명시하지 않아도 인터프리터가 알아서 자료형을 지정해줍니다.
- 자유롭게 형변환도 허락합니다.
- str(), int(), float(), bool()

In [ ]:
str(4/2)

'2.0'

In [ ]:
int(4/2)

2

In [ ]:
# 어떤 경우에 False가 나오는지
bool()

False

In [ ]:
bool(0)

False

In [ ]:
bool('')

False

In [ ]:
bool(None)

False

In [ ]:
bool([])

False

In [ ]:
bool({})

False

In [ ]:
bool(())

False

In [ ]:
bool(0.)

False

In [ ]:
# '2231.66' 값을 str으로 받아왔어요. int로 변경하려면 어떻게 해야 할까요?
int(float('2231.66'))

2231

In [ ]:
round(float('2231.66'))

2232

문자열을 정수나 실수로 반환하는 경우
- 문자열 내에 문자들이 전부 10진수 정수 형태의 문자만 있어야 합니다.

In [ ]:
round(float('2231.66점입니다'))

ValueError: could not convert string to float: '2231.66점입니다'

# bool은!
- 변환하는데 규칙이 있습니다.
  - 어떤 타입이든 다 변환이 가능해요. True/False
  - True인 경우 0이 아닌 비어있지 않은 모든 값
  - False - 빈문자, 빈객체, 0이 다 거짓이 되겠죠

# 컨테이너(Container) 자료형
- 여러 개의 자료를 원소로 묶어 하나의 변수에 담는 형태의 자료형들을 컨테이너 자료형이라고 부릅니다. 컨테이너 자료형은 순서로 값을 관리하는 시퀀스(Sequence)형과 키-값으로 자료를 관리하는 매핑(Mapping)형, 키만으로 자료를 관리하는 집합(Set)형으로 나뉩니다.

# 시퀀스 타입 - 순서
- 기본 타입(숫자, 문자열)을 여러개 모아서 하나의 자료형으로 관리하기 위한 방법으로 선형자료구조라고 부릅니다.
  - '배열'
  - 한개 식빵 -> 숫자, 문자열이라면
  - 시퀀스 타입 -> 식빵들 ... 자료구조의 종류


## 1) 리스트(list)
- 다수의 자료값을 콤마(,)로 구분해 꺽은 괄호 [ ] 로 묶어서 배열 형태로 만든 자료형
- 리스트 안에 담긴 원소들 간에 순서가 있어서 0, 1, 2, …의 인덱스를 붙여 각 원소를 호출할 수 있습니다
- 원소의 내용을 변경할 수 있습니다.
(예시) a = [‘신짱구’, 40000, True]

## 2) 튜플(tuple)
- 리스트와 달리 꺾은 괄호가 아닌 둥근 괄호 ( )를 사용합니다.
- 원소들 간에 순서가 있고 인덱스로 호출할 수 있는 등 리스트와 성질이 거의 유사합니다
- 변수를 한번 생성하면 원소의 내용을 변경할 수 없다는 점에서 리스트와 구별됩니다.
(예시) b = (None, [1,2], 3, 3, 3)

## 3) 레인지(range)
- 정수 수열을 만듭니다
- 원소의 내용을 변경할 수 없습니다

```
참고. 가변형 타입 vs 불가변형 타입
  - 튜플 -> 불가변형 타입
    - 자료들의 값을 바꿀 수 없고

  - 리스트 -> 가변형 타입
    - 자료들의 값을 변경할 수 있습니다.

  - 가변형 타입에서만 사용할 수 있는 연산자가 따로 있습니다.
```

In [ ]:
li = [1,2,3,4,5]

In [ ]:
type(li)

list

In [ ]:
tu = (1,2,3,4,5)
type(tu)

tuple

In [ ]:
ra = range(5)
type(ra)

range

In [ ]:
li, tu, ra

([1, 2, 3, 4, 5], (1, 2, 3, 4, 5), range(0, 5))

In [ ]:
print(li) ; print(tu) ; print(list(ra))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
[0, 1, 2, 3, 4]

In [ ]:
ra

range(0, 5)

In [ ]:
ra[2]

2

type 확인을 해주시고요.

In [ ]:
# 1 이라는 값이 하나만 들어있는 tu1, li1, ra1
tu1 = (1, ) # 콤마가 있다 = 값은 하나지만 연속된 자료형이구나 라고 파이썬 인터프리터가 판단하도록 # () 우선순위 연산자, int('112') 함수의 호출연산자로도 쓰입니다.
li1 = [1]
ra1 = range(1)
print(type(tu1), type(li1), type(ra1))

<class 'tuple'> <class 'list'> <class 'range'>

In [ ]:
tu1[0], li1[0], ra1[0] # 시퀀스 자료형은 변수명 뒤에 대괄호를 쓰고 그 안에 방번호를 넣어서 호출합니다.

(1, 1, 0)

In [ ]:
ra1 = range(1, 2) # 끝점 하나 앞까지 출력

In [ ]:
ra1[0]

1

In [ ]:
ra1 = range(2, 7, 2) # 시작점, 끝점+1, 몇칸씩 건너뛸지(step)

In [ ]:
list(ra1)

[2, 4, 6]

In [ ]:
li1 = [1, '김연지', (1,2), 3.15, None] # 서로 다른 자료형을 간직할 수 있습니다.

In [ ]:
li1

[1, '김연지', (1, 2), 3.15, None]

In [ ]:
li1[1] = ['짱구', '짱아']

In [ ]:
li1

[1, ['짱구', '짱아'], (1, 2), 3.15, None]

In [ ]:
tu1 = (1, '김연지', (1,2), 3.15, None) # 서로 다른 자료형을 간직할 수 있습니다.

In [ ]:
tu1[1] = ['짱구', '짱아'] # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [ ]:
range('가', '마', 2) # TypeError: 'str' object cannot be interpreted as an integer

TypeError: 'str' object cannot be interpreted as an integer

# 공통 연산자
- 가변형 타입과 불가변형 타입 모두에게 동일하게 사용할 수 있는 연산자 몇개

In [ ]:
dir(li1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
dir(tu1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
tu1

(1, '김연지', (1, 2), 3.15, None)

In [ ]:
tu1.index((1, 2)) # 해당 원소가 있는 방번호(index)를 출력해줍니다.

2

In [ ]:
tu1.count(1)

1

In [ ]:
li1

[1, ['짱구', '짱아'], (1, 2), 3.15, None]

In [ ]:
li1[-1] = 1 # 음수 인덱싱
li1

[1, ['짱구', '짱아'], (1, 2), 3.15, 1]

In [ ]:
li1.count(1) # 해당 값이 몇개 있는지 확인할 때

2

In [ ]:
'무' in '사과나무'

True

In [ ]:
1 in li1 # 값이 있는지 확인 T/F

True

In [ ]:
a = '사과나무'

In [ ]:
a[2] = '가' # TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [ ]:
# str은 튜플의 형태로 (불가변)

In [ ]:
ra1

range(2, 7, 2)

In [ ]:
ra1.index(2) # ValueError: 3 is not in range

0

In [ ]:
ra1.count(2) # 1

1

In [ ]:
tu1 + tu1 # 불가변형이라고 했는데 왜??
# 원본을 변형시킬수 있는지로 가변형/불가변형을 따집니다.

(1, '김연지', (1, 2), 3.15, None, 1, '김연지', (1, 2), 3.15, None)

In [ ]:
tu1

(1, '김연지', (1, 2), 3.15, None)

In [ ]:
abc = tu1 + li1
abc

TypeError: can only concatenate tuple (not "list") to tuple

- 원본은 변하지 않고
- 원본에 새로운 튜플을 합친 새로운 튜플을 반환할 뿐입니다.

# 인덱싱과 슬라이싱
  - 파이썬의 시퀀스 타입은 자동으로 인덱스를 생성해줍니다.
    - 0부터 순서대로 1씩 증가하면서 자동으로 만들어줍니다.
    - 0부터 시작한다라는 겁니다.
    - 첫번재 원소 인덱스가 0이고,
    - `[ ]` 안에 인덱스 숫자로 참조하길 원하는 원소를 선택을 합니다

    - 슬라이스는 시퀀스 내에서 원하는 범위를 잘라서 가져오는 개념입니다.
    - 프로그래밍에서는 반복문, 반복문을 활용한 인덱싱/슬라이싱을 많이 하게 됩니다

In [ ]:
tu1

(1, '김연지', (1, 2), 3.15, None)

In [ ]:
tu1[1]

'김연지'

In [ ]:
tu1[1:4] # 1~ 3 변수명[시작인덱스:끝인덱스+1]

('김연지', (1, 2), 3.15)

In [ ]:
tu1[1:4:2] # 변수명[시작인덱스:끝인덱스+1:step(얼마만큼 건너뛸 것인지)]

('김연지', 3.15)

In [ ]:
tu1[7] # IndexError: tuple index out of range

IndexError: tuple index out of range

In [ ]:
tu1[0:7:2] # slicing은 끝점을 초과하는 인덱스번호를 지정해줘도 out of range 에러가 나지 않습니다.

(1, (1, 2), None)

In [ ]:
tu1[0::2]  # 끝점 생략 가능

(1, (1, 2), None)

In [ ]:
tu1[::2] # 시작점 생략 가능

(1, (1, 2), None)

In [ ]:
tu1

(1, '김연지', (1, 2), 3.15, None)

In [ ]:
tu1[-1::]

(None,)

In [ ]:
tu1[-1::-1]

(None, 3.15, (1, 2), '김연지', 1)

In [ ]:
tu1[-1:0:-1]

(None, 3.15, (1, 2), '김연지')

# 정말 중요한 것
- 반복문으로 인덱싱/슬라이싱을 하다 보면 주어진 시퀀스타입을 범위를 벗어나는 참조를 굉장히 많이 하게 됩니다.

- IndexError: list index out of range

In [ ]:
li1 # 시퀀스 크기와 상관없이 가장 마지막원소를 늘 참조하게 하고 싶다면
li[-1]

5

In [ ]:
li[len(li1)-1]

5

In [ ]:
li.append('새로 추가된 값')

In [ ]:
li

[1, 2, 3, 4, 123, '새로 추가된 값']

In [ ]:
# 자료가 변하면 결과도 달라지도록 하는 종류의 코딩 : 소프트 코딩
li[-1]

'새로 추가된 값'

In [ ]:
# 자료가 변해도 계속 같은 결과를 나타내도록 고정하는 종류의 코딩 : 하드 코딩
li[4]

123

# 슬라이스 사용법

arr [ 시작인덱스 : 끝인덱스+1]

In [ ]:
# 끝값에 대해서 out of range를 피할 때, 특정 순서에 의해 일부를 떼어다 쓸 때

[1, 2, 3, 4, 123, '새로 추가된 값']

In [ ]:
li[-8] # IndexError: list index out of range 음수 인덱스도 인덱스 에러 있습니다

IndexError: list index out of range

## 문자열 (String)도 배열의 한 종류
- 튜플의 속성을 가지고 있어요

In [ ]:
'abcdefg'[2]

'c'

In [ ]:
'abcdefg'[2] = 'C'

TypeError: 'str' object does not support item assignment

In [ ]:
'abcdefg'[::2]

'aceg'

In [ ]:
'a' in 'abcdefg'

True

In [ ]:
dir('abcdefg')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### 1-1. content라는 변수에 Yeonji's Home이라는 문자열을 넣고 전체를 출력하세요.

In [ ]:
content = "Yeonji's Home"

1-2. 해당 변수에서 Home만 출력해보세요

In [ ]:
content[-1:-5]

''

In [ ]:
content[9:]

'Home'

In [ ]:
content[content.index('Home'):]

'Home'

1-3. 해당 변수에서 'Yn'He' 이라는 글자들만 출력해보세요.

In [ ]:
content

"Yeonji's Home"

In [ ]:
content[::3]

"Yn'He"

1-4. 해당 변수에 담긴 문자열을 거꾸로 뒤집은 순서로 출력하세요.

In [ ]:
content[::-1]

"emoH s'ijnoeY"

1-5. 변수 content 안에 'yEONJI'라는 문자열이 포함되어 있는지 확인해보세요.

In [ ]:
'yEONJI' in content # 소문자 대문자 구분하기 때문에

False

1-6. 변수 content 안에 'Yeonji'라는 문자열이 포함되어 있는지 확인해보세요.

In [ ]:
'Yeonji' in content # 소문자 대문자 구분하기 때문에

True

# 가변 연산자
- 가변형 타입에서만 사용 가능한 명령어(연산)
- string, 튜플에서는 사용할 수 없습니다.

In [ ]:
li = [1, 2, 3, 4, 5, 6]

In [ ]:
li[2] = 33
li

[1, 2, 33, 4, 5, 6]

append / extend라는 명령어
- 리스트에 원소를 추가하는 명령어
- 리스트에만 사용이 가능합니다.
- 하나만 추가할때 여러개를 한께번에 추가할 때

In [ ]:
li.append(7)
li

[1, 2, 33, 4, 5, 6, 7]

In [ ]:
li.extend(8) # TypeError: 'int' object is not iterable
li

TypeError: 'int' object is not iterable

In [ ]:
li.extend([8]) # 배열을 확장하는 개념
li

[1, 2, 33, 4, 5, 6, 7, 8]

In [ ]:
li.append([9, 10])
li

[1, 2, 33, 4, 5, 6, 7, 8, [9, 10]]

In [ ]:
li.extend([11, 12])
li

[1, 2, 33, 4, 5, 6, 7, 8, [9, 10], 11, 12]

In [ ]:
li.extend((11, 12))
li

[1, 2, 33, 4, 5, 6, 7, 8, [9, 10], 11, 12, 11, 12]

In [ ]:
li[8][0] # 2차원 배열

9

append vs insert
- append는 맨 끝에 원소를 추가하고요
- insert 중간에 내가 원하는 위치에 원소를 삽입합니다.

In [ ]:
li.insert(13, '십삼') # 원본을 바꿨기 때문에

In [ ]:
li

[1, 2, 33, 4, 5, 6, 7, 8, [9, 10], 11, 12, 11, 12, '십삼']

In [ ]:
# li[2] = '삼'

In [ ]:
li.insert(2, '삼') # 특정 위치에 갚을 넣고 나머지를 +1 씩 밀어냅니다.
li

[1, 2, '삼', 33, 4, 5, 6, 7, 8, [9, 10], 11, 12, 11, 12, '십삼']

In [ ]:
li.pop()

'십삼'

In [ ]:
li

[1, 2, '삼', 33, 4, 5, 6, 7, 8, [9, 10], 11, 12, 11, 12]

In [ ]:
li.remove(12) # 선형자료구조에서는 가장 처음 발견된 값만 삭제하고 끝나버림

In [ ]:
li

[1, 2, '삼', 33, 4, 5, 6, 7, 8, [9, 10], 11, 11, 12]

# range
  - 범위 내에서 수열을 생성하는 시퀀스 타입입니다.
  - 정수만 가능하고요
  - 반복문이랑 가장 많이 쓰이는 명령어 중 하나입니다.


range(시작점, 끝점+1, step)
- 시작점과 step은 생략 가능하다

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(2, 5))

[2, 3, 4]

In [ ]:
list(range(2, 5, 2))

[2, 4]

In [ ]:
list(range(5, 2, -2))

[5, 3]

In [ ]:
# 조건만 메모리에 간직하고 있다가 해당 값을 써야할 때 평가 (지연 평가 - lazy evalution)
# 왜? 메모리를 아끼려고

In [ ]:
import sys

a = list(range(1, 1000))
b = range(1, 1000)
b

range(1, 1000)

In [ ]:
sys.getsizeof(a)

8056

In [ ]:
sys.getsizeof(b)

48

```
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
```

# 매핑형 타입
 - tuple, list, range는 시퀀스형 타입이었습니다. 순서가 있고 그 순서에 정해진 인덱스를 바탕으로 자료를 꺼내오거나 삽입하거나 삭제하거나 수정하는 방식으로 동작했습니다.
 - 매핑형 타입은 key값으로 불러오는 dict가 대표적이고요.
 - 해시 자료구조 라고 표현하기도 합니다.

## 1) 딕셔너리
- 형태는 다음과 같습니다.
```{ key:value, key:value, key:value ..... }```
- key를 직접 정의할 수 있습니다.
  - 튜플이나 리스트와의 차이점이죠 (인덱스가 자동 생성되지 않음)
  - 반드시 숫자가 아니어도 괜찮음


해시 테이블의 장단점
 - 장점
    - 데이터 저장 및 읽기 속도가 빠르다.
    - 키에 대한 중복이 있는지 확인하기 쉽다.

- 단점
    - 일반적으로 다른 자료구조보다 저장공간이 더 필요하다.
    - 여러 키에 해당하는 주소가 동일한 경우 충돌(Collision)이 발생하고, 이를 해결하기 위한 별도 자료구조 또는 함수가 필요하다.


- 해시 테이블의 주용도
    - 검색이 많이 필요할 경우
    - 저장, 삭제, 읽기가 빈번하게 일어나는 경우
    - 캐시를 구현할 경우 (중복 확인이 쉽기 때문에)

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Hash_table_4_1_1_0_0_1_0_LL.svg/1280px-Hash_table_4_1_1_0_0_1_0_LL.svg.png" width=300>

![](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbTF67c%2FbtqL7xx3OGw%2FDM8KEKU5x7dx6Nks4JR7K1%2Fimg.png)
- 출처: https://mangkyu.tistory.com/102

In [ ]:
# () []
# 빈 딕셔너리
dict1 = {}
type(dict1)

dict

In [ ]:
dict1['new key'] = '새 값'
dict1

{'new key': '새 값'}

In [ ]:
dict3['new key'] = '새 값' # NameError: name 'dict3' is not defined 없는 딕셔너리에 새 값을 넣는 것은 불가능하다

NameError: name 'dict3' is not defined

In [ ]:
dict2 = {'문패':'들어갈 내용', '문패2': [1,2,3,4,'안녕'], '문패3':None}
dict2

{'문패': '들어갈 내용', '문패2': [1, 2, 3, 4, '안녕'], '문패3': None}

In [ ]:
dict2[0] # KeyError: 0

KeyError: 0

In [ ]:
dict2['문패']

'들어갈 내용'

In [ ]:
dir(dict2)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
#  'clear',
#  'keys',
#  'values'
#  'items',
#  'pop',
#  'copy',
#  'fromkeys',
#  'get',
#  'popitem',
#  'setdefault',
#  'update',

In [ ]:
dict1.clear()
dict1

{}

In [ ]:
dict2.keys()

dict_keys(['문패', '문패2', '문패3'])

In [ ]:
dict2.values()

dict_values(['들어갈 내용', [1, 2, 3, 4, '안녕'], None])

In [ ]:
dict2.items()

dict_items([('문패', '들어갈 내용'), ('문패2', [1, 2, 3, 4, '안녕']), ('문패3', None)])

In [ ]:
dict2.pop('문패') # 딕셔너리의 기본 메소드들은 key를 중심으로 동작합니다.

'들어갈 내용'

In [ ]:
dict2 # 원본에서 '문패' 사라짐

{'문패2': [1, 2, 3, 4, '안녕'], '문패3': None}

In [ ]:
'문패3' in dict2

True

In [ ]:
None in dict2 # value라서 False

False

In [ ]:
dict2.get('문패')

In [ ]:
dict2

{'문패2': [1, 2, 3, 4, '안녕'], '문패3': None}

In [ ]:
dict2.get('문패3')  # None

In [ ]:
dict2.get('문패2') # [1, 2, 3, 4, '안녕']

[1, 2, 3, 4, '안녕']

In [ ]:
# 해당 key가 있으면 그 value를 리턴, 없으면 아무것도 리턴하지 않음

In [ ]:
dict2['문패'] # KeyError: '문패'

KeyError: '문패'

In [ ]:
dict2.get('문패', '찾으시는 정보가 없습니다')

'찾으시는 정보가 없습니다'

In [ ]:
dict2.get('문패2', '찾으시는 정보가 없습니다')

[1, 2, 3, 4, '안녕']

In [ ]:
dict2

{'문패2': [1, 2, 3, 4, '안녕'], '문패3': None}

In [ ]:
# getter(값을 가져오는 함수) / setter(값을 변경하는 함수)
dict2.setdefault('문패2', '찾으시는 정보가 없습니다')

[1, 2, 3, 4, '안녕']

In [ ]:
dict2.setdefault('문패', '찾으시는 정보가 없습니다')

'찾으시는 정보가 없습니다'

In [ ]:
dict2 # 없는 키를 넣으면 새로 키:밸류 쌍을 해당 딕셔너리에 삽입해 줬다.

{'문패2': [1, 2, 3, 4, '안녕'], '문패3': None, '문패': '찾으시는 정보가 없습니다'}

In [ ]:
person_info = ['name', 'age', 'sex']
dict4 =dict.fromkeys(person_info, '기본 value 할당')
dict4

{'name': '기본 value 할당', 'age': '기본 value 할당', 'sex': '기본 value 할당'}

In [ ]:
# count(sub[, start[, end]])
'김연지가 신짱구를 좋아한다.'.count('좋아')

1

In [ ]:
"The sum of 1 + 2 is {1} 그리고 {0}".format(1+2, '빼기도 해줘') # *args

# {0: 1+2, 1: '빼기도 해줘'}

'The sum of 1 + 2 is 빼기도 해줘 그리고 3'

In [ ]:
"The sum of 1 + 2 is {num} 그리고 {msg}".format(num=1+2, msg='빼기도 해줘') # **kwargs

'The sum of 1 + 2 is 3 그리고 빼기도 해줘'

In [ ]:
len('김연지가 신짱구를 좋아한다.')

15

In [ ]:
'김연지가 신짱구를 좋아한다.'.count('좋아', 1, 4)

0

In [ ]:
!python --version

Python 3.10.12

In [ ]:
my_playlist = {'힙합':'Definition', '힙합':'Chaining Day', '힙합':'Not Like Us', '힙합':'Money Tree', '힙합':'Runaway'}
my_playlist # key가 있으면 그 key의 value를 변경 / 없으면 새로운 key를 생성하기 때문에

{'힙합': 'Runaway'}

In [ ]:
# 여러분이 좋아하는 음악 5곡을 장르가 key, 곡이름이 value가 되도록 my_playlist라는 dictionary로 저장해주세요.

In [ ]:
my_playlist = {'힙합':['Definition','Chaining Day','Not Like Us','Money Tree','Runaway']}
my_playlist # key가 있으면 그 key의 value를 변경 / 없으면 새로운 key를 생성하기 때문에

{'힙합': ['Definition', 'Chaining Day', 'Not Like Us', 'Money Tree', 'Runaway']}

# Set (집합)형
- 키로 관리하는 Hash 자료구조입니다.
- 순서가 없는 자료형입니다
- 중복이 안된다는 특징이 있습니다.

In [ ]:
del set

In [ ]:
set1 = {'key'}
type(set1)

set

In [ ]:
set1 ={1, 2, 3, 4, 2, 5, 5}
set2 = {3, 4, 5, 7, 8, 10}
set3 = {'a', 'b', 'c', 'b', 'a', 'a'}

In [ ]:
set4 = {'a', ['b', 'c'], 'a'} # TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

In [ ]:
set1 & set2 # 교집합 찾아줍니다

{3, 4, 5}

In [ ]:
set1.intersection(set2)

{3, 4, 5}

In [ ]:
set1 - set2 # 차집합

{1, 2}

In [ ]:
set2 - set1

{7, 8, 10}

In [ ]:
set2.difference(set1)

{7, 8, 10}

In [ ]:
set1 | set2 # 합집합

{1, 2, 3, 4, 5, 7, 8, 10}

In [ ]:
set1.union(set2)

{1, 2, 3, 4, 5, 7, 8, 10}

In [ ]:
set1[2] # TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

# 복사
- 얕은 복사, 깊은 복사가 있습니다.
  - 주소복사, 값 복사라고 표현하기도 합니다.
![](https://i.imgur.com/WUxAUZq.png)

In [ ]:
arr = [10, 20, 30]

In [ ]:
id(arr) # 134657783053888

134657783053888

In [ ]:
copy1 = arr

In [ ]:
id(copy1) # 134657783053888

134657783053888

In [ ]:
copy1 = [40, 50, 60]

In [ ]:
arr, copy1

([10, 20, 30], [40, 50, 60])

## 얕은복사/ 주소복사
- 변수 이름은 다르지만 결국 동일한 주소를 나타내는 경우
- 결국 두 변수는 같은 변수나 다름없습니다
- 메모리값이 같으니까요 (2개 이상 얼마든지... 메모리값을 참조할 뿐입니다)
  - 공간 효율성, 메모리 효율성 때문입니다.
  - 전체 값을 항상 메모리에 복사면 그만큼 속도가 느려지고 메모리도 공간이 부족해집니다.
  - 파이썬은 주소를 복사해서 사용을 하는 얕은 복사를 기본 복사로 차용을 하고 있습니다.

- 슬라이싱하면 값 제대로 바뀌고 원본도 보존되는 거 같은데 왜 얕은 복사라고 부르는 걸까??
- 차원을 하나 더 깊게 들어가면 여전히 메모리 주소를 복사하기 때문입니다.
![Imgur](https://i.imgur.com/HSoskKB.png)

In [ ]:
arr2D = ['Hello', 'Bye', 'Hi', ['Goodnight', 'Goodmorning', 'Goodafternoon']]
arr2Dcopy = arr2D # 얕은복사
id(arr2D), id(arr2Dcopy)

(134657783047680, 134657783047680)

In [ ]:
arr2Dcopy2 = arr2Dcopy[2:5]
arr2Dcopy2

['Hi', ['Goodnight', 'Goodmorning', 'Goodafternoon']]

In [ ]:

id(arr2D), id(arr2Dcopy), id(arr2Dcopy2)

(134657783047680, 134657783047680, 134658969386240)

In [ ]:
arr2Dcopy2[1][1] = 'Good Morning'

In [ ]:
arr2Dcopy2

['Hi', ['Goodnight', 'Good Morning', 'Goodafternoon']]

In [ ]:
arr2Dcopy

['Hello', 'Bye', 'Hi', ['Goodnight', 'Good Morning', 'Goodafternoon']]

In [ ]:
arr2D

['Hello', 'Bye', 'Hi', ['Goodnight', 'Good Morning', 'Goodafternoon']]

# 깊은복사
- 파이썬에서는 깊은 복사라는 다른 방법을 제공해서 시퀀스타입의 깊이가 깊어질 때 메모리주소를 참조해서 원본을 훼손하는 일을 막고 있습니다.

- copy라는 모듈의 deepcopy를 사용해야 합니다.

In [ ]:
import copy

deep_arr2D = copy.deepcopy(arr2D)

In [ ]:
id(arr2D), id(deep_arr2D)

(134657783047680, 134657823827200)

In [ ]:
arr2D

['Hello', 'Bye', 'Hi', ['Goodnight', 'Good Morning', 'Goodafternoon']]

In [ ]:
deep_arr2D[-1][1] = '굿모닝'

In [ ]:
deep_arr2D

['Hello', 'Bye', 'Hi', ['Goodnight', '굿모닝', 'Goodafternoon']]

In [ ]:
# 데이터 분석 관련된 최근 패키지들은 거의 딥카피를 기본 복사방법으로 차용하고 있습니다

## 실습1
- 1 ~ 25까지의 정수 중 랜덤한 6개 숫자로 된 배열 c, d를 얕은 복사를 이용해서 2개 생성하고 배열 c의 1번 인덱스 값을 5로 각각 변경 후 출력해 보세요.

## 실습2
- 1 ~ 25까지의 정수 중 랜덤한 6개 숫자로 a, b를 deepcopy를 이용해서 2개 생성하고 배열 b의 1번 인덱스 값을 5로 각각 변경 후 출력해 보세요.